CPS_ID=cpslai1
CPS_FORMAL_ID=CPS-LAI-01
CPS_NAME=DistributionConveyorStationLAI
PORT=3010
MQTT_URL=mqtt://acsm-mosquitto:1883
MQTT_BASE_TOPIC=cpslai1
OPCUA_ENDPOINT=
OPCUA_SECURITY_MODE=
OPCUA_SECURITY_POLICY=
OPCUA_USERNAME=
OPCUA_PASSWORD=
OPCUA_RECONNECT_INTERVAL_MS=5000
FIELD_MAPPING_FILE=/app/config/field-mapping.json
AAS_FILE=/app/aas/aas.json
