CPS_ID=cpslai1
CPS_FORMAL_ID=CPS-LAI-01
CPS_NAME=DistributionConveyorStationLAI
OPCUA_ENDPOINT=
OPCUA_SECURITY_MODE=
OPCUA_SECURITY_POLICY=
OPCUA_USERNAME=
OPCUA_PASSWORD=
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_BASE_TOPIC=cpslai1
OPCUA_RECONNECT_INTERVAL_MS=5000
MQTT_RECONNECT_INTERVAL_MS=5000
OPCUA_STALE_AFTER_MS=15000
ALLOW_OPCUA_WRITES=false
CPS_LAI_01_FIELD_MAPPING_FILE=
